$base-font-size: 10px;

$contents-width-pc: 1140px;
$contents-width-tab: 768px;
$contents-width-sp: 360px;

// フォントサイズ
$font-size-medium-text: 20px;
$font-size-small-text: 14px;
$font-size-big-text: 24px;

// 色
$base-color  : #FFF;
$main-color  : #192F60;
$main2-color : #AEB6C7;
$font-color: #333;
$reverse-color: #FFF;
$button-action-bg-color: #20868A;

$shadow-color: rgba(#000, 0.16);